    .test_wrapper{
        width: 100%;
        border: 1px solid black;
    }
    .test{
        display: flex;
        padding-bottom: 10px;
    }
    .p_active{
        width: 200px;
        font-size: 20px;
    }
    .p_test{
        font-size: 20px;
        margin-left: 10%;
    }
    .p_active > p{
        float : right;
    }
    .test_1{
        display: flex;
        width: 100%;
    }
    