@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.test_wrapper {
    border: 1px solid black;
    width: 100%;
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    
}

.text_padding>span {
    font-size: 22px;
}

.div1 {
    display: flex;
    text-align: center;
    font-size: 30px;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid black;
}

/* DIV 2 */
.div2 {
    display: flex;

}

.div2_wrap {
    padding: 1.5em 1em;
}

.div2_test {
    display: flex;
    padding : 8px 0;
}

.div2_test>span {
    width: 50%;
}

/* DIV 3 */
.div3 {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
.div3_test{
    padding: 1em 0;
}
.div4 {
    display: flex;
}

.div4_test {
    padding-left: 1em;
}

/* DIV 5 */
.div5 {
    border-top: 1px solid black;
    display: flex;
}

.div5_test {
    text-align: center;
    
    height: 100%;
}

.div5_test>span {
    width: 50%;
}


.xxxx {
    outline: none;
    border: none;
    width: 50px;
    border-bottom: 1px solid black;
}