.left {
    position: relative;
    transition: all .7s;
    z-index: 555;
    width: 100%;
    height: 100%;
}

.left_wrap:hover {

    left: 0;
}

.menu_wrap {
    position: absolute;
    width: 13%;
    height: 100vh;
    background-image: url('https://cdn.hipwallpaper.com/i/12/51/FaMGPN.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 999;
    left: -10%;
    transition: all .5s;
}
.menu_wrap:hover{
    left: 0;
}
.left_wrap {
    position: absolute;
    width: 100%;
    transition: all .7s;
    height: 100%;
    background: black;
    opacity: .60;
    z-index: 550;
}

.menu_list:hover {
    cursor: pointer;
    padding-left: 2em;
    background-color: rgba(206, 204, 204, 0.3);

    color: rgb(255, 4, 4);
    font-weight: 900;


}

.menu_list {
    display: flex;
    margin-bottom: 1em;
    transition: all .3s;
    padding: 7px 8px;
    color: rgb(235, 235, 235);
    padding: .5em;
}

.menu_img {
    text-align: center;
    width: 80px;
    font-size: 2em;
}

.menu_li {
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 100%;
}

.table_staff {
    font-size: 17px;
}




.visuallyHidden:checked~.menu_nav {
    left: 0%;
}

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger {
    z-index: 100;
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: maroon;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER 3 */

.hamburger3 .bar1 {
    transform-origin: 5%;
}

.hamburger3 .bar4 {
    transform-origin: 5%;
}

.checkbox3:checked+label>.hamburger3>.bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
}

.checkbox3:checked+label>.hamburger3>.bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked+label>.hamburger3>.bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked+label>.hamburger3>.bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
}

@media only screen and (max-width: 1024px) {
    .left_wrap {
        width: 100%;
    }

    .left {
        background-image: none;
        height: 0;
    }

    .menu_nav {
        background-color: rgb(170, 52, 52);
        width: 60%;
        left: -100%;
        transition: .5s;
        position: absolute;
        top: 10px;
        z-index: 10;

    }

    .menu_img {}

    .menu_li {
        width: 100%;
        font-size: 22px;
        /* text-align: center; */
    }

    /* .visuallyHidden:checked ~ .menu{
        left : -10%;
    } */
    .hamburger {
        display: block;
    }

    /* STAFF */
    .staff_img {
        width: 50px;
    }

}