.card{
    background-image: url("https://images.unsplash.com/photo-1481151500463-1fa2dd2d5dbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: 370px 150px;
    color : white;
    // https://images.unsplash.com/photo-1481151500463-1fa2dd2d5dbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80
}

.buttons {
    display: inline-flex;
    align-items: center;
    background: #C06C84;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 45px;
    padding: 0 30px;
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .3s, transform .3s, box-shadow .3s;
     will-change: transform;
    
    &:hover {
      background: darken(#C06C84,10%);
      box-shadow: 0 4px 17px rgba(0,0,0,0.2);
      transform: translate3d(0, -2px, 0);
    }
    &:active {
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
      transform: translate3d(0, 1px, 0);
    }
  }
  
  .pulse {
    position: relative;
    border: none;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,.4);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      opacity: 0;
      margin: auto;
    }
    &:before {
      animation: pulse 1.5s infinite linear;
    }
    &:after {
      animation: pulse 2s .4s infinite linear;
    }
    &:hover:before, &:hover:after {
      display: none;
    }
  }
// .card {
// 	margin-bottom: 1.5em;
// }
// .input {
// 	position: relative;
// 	font-size: 1.1em;
// 	background: linear-gradient(90deg, #9c999b, #868181, #c4c4c4);
// 	padding: 2px;
// 	display: inline-block;
// 	border-radius: 7px;

// 	*:not(span) {
// 		position: relative;
// 		display: inherit;
// 		border-radius: 7px;
// 		margin: 0;
// 		border: none;
// 		outline: none;
// 		padding: 0 .325em;
// 		z-index: 1;

// 		&:focus+span {
// 			opacity: 1;
// 			transform: scale(1);
// 		}
// 	}

// 	span {
// 		transform: scale(.993, .94);
// 		transition: transform .5s, opacity .25s;
// 		opacity: 0;
// 		position: absolute;
// 		z-index: 0;
// 		margin: 3px;
// 		left: 0;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		border-radius: 3px;
// 		pointer-events: none;
// 		box-shadow: inset 0 0 0 3px #fff,
// 			0 0 0 4px #fff,
// 			-3px 3px 30px #e96e1d,
// 			3px 3px 30px #e935e9;
// 	}
// }

// html {
// 	// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// 	// line-height:1.5;
// 	// font-size:1em;
// }

// body {
// 	// text-align: center;
// 	// display:flex;
// 	// align-items: center;
// 	// justify-content: center;
// }

// // html, body {
// // 	height:100%;
// // }

// input {
// 	font-family: inherit;
// 	line-height: inherit;
// 	color: #2e3750;
// 	min-width: 12em;
// }

// ::placeholder {
// 	color: #cbd0d5;
// }

// html::after {
// 	// content:'';
// 	// background: linear-gradient(21deg, #10abff, #1beabd);
// 	// height:3px;
// 	// width:100%;
// 	// position:absolute;
// 	// left:0;
// 	// top:0;
// }
