.pu-bchatbox {
    cursor: pointer;
    width: 270px;
    height: 40px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    background: #43609c;
    position: relative;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}